<!DOCTYPE html>
<html>

<head>
    <title>Edit Expense</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <div class="edit-center-div">
        <h1>Edit Expense</h1>
        <form action="/expenses/<%= expense._id %>?_method=PUT" method="POST">
            <input placeholder="Purchase" type="text" id="name" name="name" value="<%= expense.name %>"><br>
            <select name="transactionType" id="transactionType" onchange="changeTypeOptions()">
                <option value="credit" <%=expense.transactionType==='credit' ? 'selected' : '' %>>Credit</option>
                <option value="debit" <%=expense.transactionType==='debit' ? 'selected' : '' %>>Debit</option>
            </select><br>
            <select name="type" id="type">
                <!-- Options will be added here by JavaScript -->
            </select>
            <input placeholder="Amount (KWD)" type="number" id="amount" name="amount" step="any"
                value="<%= expense.amount %>"><br>
            <input type="submit" value="Submit">
        </form>
    </div>
    <script>
        function changeTypeOptions() {
            var transactionType = document.getElementById('transactionType').value;
            var typeSelect = document.getElementById('type');
            var creditOptions = [
                { text: 'Select Source', value: '', disabled: true },
                { text: 'Salary', value: 'salary' },
                { text: 'Gift', value: 'gift' },
                { text: 'Investment', value: 'investment' },
                { text: 'Freelance', value: 'freelance' }
            ];
            var debitOptions = [
                { text: 'Select Category', value: '', disabled: true },
                { text: 'Groceries/Food', value: 'Groceries/Food' },
                { text: 'Housing', value: 'Housing' },
                { text: 'Utilities', value: 'Utilities' },
                { text: 'Transportation', value: 'Transportation' },
                { text: 'Health', value: 'Health' },
                { text: 'Personal', value: 'Personal' },
                { text: 'Entertainment', value: 'Entertainment' },
                { text: 'Dining Out', value: 'Dining Out' },
                { text: 'Education', value: 'Education' },
                { text: 'Savings/Investments', value: 'Savings/Investments' }
            ];
            var options = transactionType === 'credit' ? creditOptions : debitOptions;
            typeSelect.innerHTML = '';
            options.forEach(function (option) {
                var optionElement = document.createElement('option');
                optionElement.text = option.text;
                optionElement.value = option.value;
                if (option.disabled) {
                    optionElement.disabled = true;
                }
                typeSelect.add(optionElement);
            });
        }
        // Call changeTypeOptions on page load to populate the "type" select box with the correct options
        window.onload = changeTypeOptions;
    </script>
</body>

</html>